{% extends "layouts_yellow.html" %}
{% block body %}
<h1 class="display-4">ARTICLES PAGE - ADD</h1>
<p class="lead">This page is for adding new articles.</p>
<hr class="my-4">
<!--    <a class="btn btn-warning btn-lg" href="/" role="button">to HOME</a>
<a class="btn btn-warning btn-lg" href="/articles" role="button">go BACK</a>    -->
<p></p>

<div class="card mb-4">
    <div class="card-header">
        <h3>Please Enter Belows</h3>
        <form action="/add_articles" method="POST" onsubmit="return confirm('이렇게 작성하시겠습니까?')">
            <div class="form-group">
                <label>  TITLE</label>
                <input class="form-control" type="text" name='Title' placeholder="input your title" required>
            </div>
            
            
            <div class="form-group">
                <label>  DESCRIPTON</label>
                <textarea class="form-control" name="Desc" placeholder="input your description" required></textarea>
            </div>
            <div class="form-group">
                <label>  AUHOR</label>
                <input type="text" name='Author' class="form-control" placeholder="input your name" required>
                
            </div>
            <div class="form-group">
                <input class="btn btn-success btn-lg btn-block" type="submit" value="SUBMIT" >
            </div>
            <div class="form-group">
                <a class="btn btn-warning btn-lg btn-block" href="/articles"> CANCEL</a>
                
            </div>
        </form>
    </div>
    
{% endblock %}